<?xml version="1.0" encoding="utf-8" ?>
<!-- lang: xml-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logback为java中的包 -->
    <logger name="logback"/>
    <!--logback.LogbackDemo：类的全路径 -->
    <logger name="root">
        <level value="ERROR"></level>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>